<html>
  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>You are invited to the KoALa session: {{sessionName}}</title>
  </head>
  <body>
    Sie wurden von
    {{ownerName}}
    zur koala-Session "{{sessionName}}" eingeladen.

    <p>
      Bitte klicken Sie auf den folgenden Link, um der Session beizutreten:
      <br />
      <a href={{sessionUrl}}>KoALa Session</a>
    </p>

    <p style='margin-top: 25px'>
      <img style='height: 35px;' src='{{koalaLogoSrc}}' />

      <div style='margin-top: 10px; margin-bottom: 5px'>Kollaborative Annotations- und Lernanwendung der Hochschule für
        Musik Freiburg</div>

      <a href='https://koala.mh-freiburg.de/'>https://koala.mh-freiburg.de/</a>
    </p>
  </body>
</html>